.product__amz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
}
.product__amz:hover {
  box-shadow: 0px 30px 150px -10px rgba(0, 0, 0, 0.4);
}
.product__amz > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.rating {
  display: flex;
}

.product__amz > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
button:hover {
  transition: all 0.5s ease-out;
  color: #111;
  background-color: grey;
}

.price {
  margin-top: 5px;
}
.info {
  height: 100px;
  margin-bottom: 15px;
}
